@import "nullstyle.scss";

/*font-family: 'Asap', sans-serif;
font-family: 'Pacifico', cursive*/

body {
	//background: #000;
	color: #FAF8F5;
	font-family: 'Montserrat', sans-serif;

}

body.lock {
	overflow: hidden;
}

body.lock_1 {
	overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
	
}

h1 {
	font-size: 72px;
	color: #fff;
	font-weight: 700;
}

h2 {
	color: #0499DD;
	font-weight: 700;
	font-size: 24px;
}

h3 {
	color: #0499DD;
	font-weight: 700;
	font-size: 18px;
}

h4 {
	font-size: 14px;
	color: #FFC700;
	font-weight: 700;
}

li {
	color: #fff;
	font-size: 16px;
}

a {
	color: #fff;
}

p {
	font-size: 14px;
	color: #282828;
}

.btn {
	display: inline-block;
	background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
	padding: 16px 50px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	border-radius: 60px;
	transition: all .3s ease;
	cursor: pointer;
}

.btn:hover {
	transform: scale(1.05);
}

.btn:active {
	transform: scale(0.95);
}
.btn:focus {
	transform: scale(0.95);
}
/************************************************************************************************************************************************************************************
************ХЕДЕР***************************
********************************************************/
.header {
	//background: #000;
	width: 100%;
	padding: 25px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__logo {
	width: 40px;
	height: 58px;
}

.header__logo img {
	width: 100%;
}
.header__menu ul{
	display: flex;
	gap: 20px;
}

.header__menu a {
	transition: .3s all ease;
	&:hover {
		color: #d6d6d6;
		text-shadow: 1px 1px 10px #000;
	}
	&:active {
		color: yellow;
	}
	&:focus {
		color: yellow;
	}
}


/************************************************************************************************************************************************************************************
************ПЕРВЫЙ БЛОК***************************
********************************************************/

.wrapper {
	overflow: hidden;
	max-width: 100%;
	height: 100vh;
	background: url('../img/wrapper.png') 100% 100% / cover no-repeat;
}

.container {
	max-width: 1080px;
	margin: 0 auto;
}

.wrapper__flex {
	padding: 125px 0 0 0;
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.wrapper__title {
	max-width: 723px;
	position: relative;
}
.wrapper__title h1 {
	line-height: 88px;
	text-transform: uppercase;
}
.wrapper__title span {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 8px;
	display: block;
	color: rgba(255,255,255,0.01);
	font-weight: 900;
	font-size: 96px;
	-webkit-text-stroke: 1px #fff;
	transition: .3s all ease;
	cursor: pointer;
	padding-bottom: 70px;
}

.wrapper__title:after {
	font-family: 'Pacifico', cursive;
	position: absolute;
	content: 'вместе с';
	font-size: 39px;
	top: 57px;
	left: 533px;
	height: 100%;
	color: #FFC700;
}

.wrapper__social {
	
}

.wrapper__social li {
	margin-top: 15px;
	text-align: center;
	transition: .3s all ease;
}

.wrapper__social li:hover {
	transform: scale(1.1);
	box-shadow: 1px 1px 90px #000;
}

.wrapper__social li:active {
	transform: scale(0.95);
	color: yellow;
}
.wrapper__social li:focus {
	transform: scale(0.95);
	color: yellow;
}

.btn svg {
	transition: .3s all ease;
}

.btn:hover svg {
	transform: translateX(20px) rotate(180deg) scale(1.5);
}

.video {
	position: relative;
}
.video__flex {
	display: flex;
}
.video__item {
	position: absolute;
	content: " ";
	top: -122px;
	right: 0;
	border-radius: 10px;
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

.playpause {
    background-image: url('../img/svg/play.svg');
    background-repeat:no-repeat;
    width:50%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

.video__image {
	position: absolute;
	content: " ";
	top: -122px;
	right: 0;
	border-radius: 10px;
	transition: 1s;
	opacity: 0;
	animation: show_image 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 1.2s;
}

@keyframes show {
	0% {
			transform: translateX(0);
			opacity: 0.5;
		}
	100% {
			transform: translateX(-250px);
			opacity: 1;
		}
}

@keyframes show_image {
	100% {
			transform: translateX(0);
			opacity: 1;
		}
}

.video__item video {
	max-width: 360px;
	height: 227px;
}

/************************************************************************************************************************************************************************************
*****МЕДИА ЗАПРОСЫ ПЕРВЫЙ БЛОК ХЕДЕР***************************
********************************************************/

/* Large desktops and laptops */
@media (min-width: 1367px) {
	.wrapper__flex {
		//padding-top: 300px;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.container {
		max-width: 768px;
	}

	.wrapper__flex {
		padding-top: 20px;
		align-items: center;
	}

	h1 {
		font-size: 48px;
	}

	.wrapper__title:after {
		top: 55px;
		left: 338px;
	}

	.wrapper__title span {
		max-width: 700px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.container {
		max-width: 738px;
	}

	@import "burger.scss";

	h1 {
		font-size: 48px;
	}

	.wrapper__flex {
		padding-top: 150px;
		align-items: center;
	}

	.wrapper__title:after {
		left: 302px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	@import "burger.scss";

	.container {
		max-width: 450px;
	}

	h1 {
		font-size: 36px;
	}

	.wrapper__flex {
		position:relative;
	}

	.wrapper__social {
		position: absolute;
		width: 100%;
		top: 350px;
		left: 143px;
	}

	.wrapper__title:after {
		left: 199px;
	}

	.video__item {
		top: -122px;
		left: 274px;
	}

	.video__item video {
		max-width: 265px;
	}

	.video__image {
		top: -91px;
	}

	.video__image img {
		max-width: 170px;
	}

	.playpause {
		left: 26%;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.container {
		max-width: 300px;
	}

	.wrapper__flex {
		padding-top: 18px;
	}

	h1 {
		font-size: 36px;
	}
	.wrapper__title h1 {
		line-height: 74px;
	}

	.wrapper__title span {
		font-size: 72px;
	}

	.wrapper__title:after {
		left: 156px;
		top: 44px;
	}

	.video__item {
		left: 257px;
	}

	.video__item video {
		max-width: 217px;
	}

	.video__image {
		top: -78px;
	}

	.video__image img {
		max-width: 144px;
	}

	.playpause {
		left: 70px;
	}
}

/* Iphone 5 */
@media (max-width: 320px) {

}

/************************************************************************************************************************************************************************************
************ВТОРОЙ БЛОК***************************
********************************************************/

.excursions {
	padding-top: 263px;
	padding-bottom: 50px;
}
.title__excursions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.excursions__title {}
.excursions__view a {
	color: #000;
	font-size: 12px;
	text-decoration: underline;
}
.swiper {
	padding: 90px 0 70px 0 !important;
	margin-left: 135px !important;
}

.swiper p {
	font-size: 12px;
	color: #fff;
}
.swiper-wrapper {
	padding-bottom: 40px;

}
.swiper-slide {
	max-width: 360px !important;
	height: auto !important;
	border-radius: 10px;
}
.bus-slide {
	background: url('../img/slider1.png') 100% 100% / cover no-repeat;
}
.horse-slide {
	background: url('../img/slider2.png') 100% 100% / cover no-repeat;
}
.quadro-slide {
	background: url('../img/slider3.png') 100% 100% / cover no-repeat;
}
.woman-slide {
	background: url('../img/slider1.png') 100% 100% / cover no-repeat;
}
.swiper__flex_text {
	padding: 211px 23px 42px 16px;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: end;
}

.swiper__flex_text h4 {
	padding: 5px 0 10px 0;
}
.swiper__time_price {
	max-width: 127px;
	display: flex;
	justify-content: space-between;
	height: 15px;
	text-align: center;
}
.time {
	position: relative;
	padding-left: 15px;
}

.time::before {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../img/svg/clock.svg') no-repeat;
}
.price {
	position: relative;
	padding-left: 15px;
}

.price::before {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../img/svg/money.svg') no-repeat;
}
.swiper-text {
	padding-top: 20px;
	padding-bottom: 20px;
}
.swiper .btn {
	max-width: max-content;
}

.swiper-button-next,
.swiper-button-prev {
	top: 94% !important;
}
.swiper-button-prev {}
.swiper-button-next {
	left: 57px !important;
}
.swiper-scrollbar {
	background-color: #D4D4D4 !important;
	left: 10% !important;
	bottom: 37px !important;
	height: 3px !important;
}

.swiper-scrollbar-drag {
	background: #0499DD !important;
	width: 230px;
	height: 100% !important;
}

/************************************************************************************************************************************************************************************
*****МЕДИА ЗАПРОСЫ ВТОРОЙ БЛОК ХЕДЕР***************************
********************************************************/

/* Large desktops and laptops */
@media (min-width: 1367px) {
	
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.swiper-scrollbar {
		left: 12% !important;
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.swiper-slide {
		min-width: 295px;
	}

	.swiper-scrollbar {
		left: 16% !important;
		bottom: 39px !important;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.swiper {
		margin-left: 20px !important;
	}

	.swiper-slide {
		min-width: 300px;
	}

	.swiper-scrollbar {
		left: 21% !important;
		bottom: 41px !important;
	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	h2 {
		font-size: 15px;
	}

	.excursions {
		padding-top: 155px;
	}

	.swiper {
		padding-top: 52px !important;
		margin-left: 10px !important;
	}

	.swiper-slide {
		min-width: 100%;
		margin: 0 20px 0 0!important;
	}

	.swiper-scrollbar {
		left: 27% !important;
		bottom: 40px !important;
	}

	:root {
    	--swiper-navigation-size: 30px !important;
	}

	.swiper-wrapper {
		padding-bottom: 13px;
	}
}

/* Iphone 5 */
@media (max-width: 320px) {

}


/************************************************************************************************************************************************************************************
************ТРЕТИЙ БЛОК***************************
********************************************************/
.nature {
	padding: 40px 0;
}
.nature__wrapper {
	position: relative;
}
.nature__image {}

.nature__image img {
	max-width: 100%;
	border-radius: 0 10px 10px 0;
}
.nature__text {
	position: absolute;
	top: 20%;
	right: 0;
	width: 542px;
	height: 476px;
	background-color: #EDEDED;
	border-radius: 10px;
	margin-right: 110px;
}
.nature__title {
	padding: 61px 75px 105px 85px;
}

.nature__title p {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}
.nat_text {
	padding: 40px 0 20px 0;
}

/************************************************************************************************************************************************************************************
*****МЕДИА ЗАПРОСЫ ТРЕТИЙ БЛОК***************************
********************************************************/

/* Large desktops and laptops */
@media (min-width: 1367px) {
	
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.nature__text {
		top: 10%;
		margin-right: 30px;
	}

	.nature__image img {
		max-width: 830px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.nature__image img {
		max-width: 600px;
		height: 704px;
		object-fit: cover;
	}

	.nature__text {
		width: 380px;
		height: 386px;
	}

	.nature__title {
		padding: 43px 43px 44px 43px;
	}

	.nat_text {
		padding: 15px 0 15px 0;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.nature__image img {
		max-width: 300px;
		height: 704px;
		object-fit: cover;
	}

	.nature__text {
		width: 380px;
		height: 386px;
		top: 15%;
		margin-right: 30px;
	}

	.nature__title {
		padding: 43px 43px 44px 43px;
	}

	.nat_text {
		padding: 15px 0 15px 0;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.nature__image img {
		max-width: 250px;
		height: 704px;
		object-fit: cover;
	}

	.nature__text {
		width: 280px;
		height: 400px;
		top: 15%;
		margin-right: 20px;
	}

	.nature__title {
		padding: 32px 23px 24px 23px;
	}

	.nature__title p {
		font-size: 12px;
	}

	.nat_text {
		padding: 15px 0 15px 0;
	}
}

/* Iphone 5 */
@media (max-width: 320px) {

}

/************************************************************************************************************************************************************************************
************ЧЕТВЕРТЫЙ БЛОК***************************
********************************************************/

.views {
	padding: 100px 0;
}
.views__title {
	padding-bottom: 90px;
}
.views__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	padding-bottom: 60px;
}

.views__grid_item {
	padding-left: 95px;
}

.bus_img,
.jeep_img,
.water_img,
.canion_img {
	position: relative;
}

.bus_img::before {
	background: url('../img/svg/1.png') no-repeat;
}
.jeep_img::before {
	background: url('../img/svg/2.png') no-repeat;
}
.water_img::before {
	background: url('../img/svg/3.png') no-repeat;
}
.canion_img::before {
	background: url('../img/svg/4 (2).png') no-repeat;
}
.bus_img::before,
.jeep_img::before,
.water_img::before,
.canion_img::before {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 75px;
	height: 75px;
}

.views__grid_item p {
	padding-top: 10px;
}
.views__button {
	margin: 0 auto;
	max-width: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 20px;
}


/************************************************************************************************************************************************************************************
*****МЕДИА ЗАПРОСЫ ЧЕТВЕРТЫЙ БЛОК***************************
********************************************************/

/* Large desktops and laptops */
@media (min-width: 1367px) {
	
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.views .container {
		max-width: 650px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.views__grid {
		grid-template-columns: 1fr;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	
}

/* Iphone 5 */
@media (max-width: 320px) {

}


/************************************************************************************************************************************************************************************
************ПЯТЫЙ БЛОК***************************
********************************************************/

.gallery {
	padding: 20px 0 70px 0;
}

.gallery__title {
	display: flex;
	justify-content: space-between;
	padding-bottom: 70px;
}
.gallery__wrapper {
	padding: 0 15px;
}
.gallery__grid {
	display: grid;
	grid-template-columns: repeat(1fr 1fr 0.5fr 0.5fr 1fr 1fr );
	grid-template-rows: repeat(4, [row] 1fr);
	grid-gap: 20px;
	
}
.gallery__grid-item {
	min-height: 50px;
	border-radius: 5px;
	transition: all .5s ease;
}

.gallery__grid-item:hover {
	box-shadow: 1px 1px 10px #000;
}
.gallery__grid-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}
.place_img {
	grid-column: col 1 / col 3;
	grid-row: row 1 / row 3;
	//grid-area: place_img;
}
.waterfall_img {
	grid-column: col 3 / col 5;
	grid-row: row 1 / row 5;
	//grid-area: waterfall_img;
}
.quadro_img {
	grid-column: col 5 / col 6;
	grid-row: row 1 / row 3;
	//grid-area: quadro_img;
}
.sun_img {
	grid-column: col 6 / col 7;
	grid-row: row 1 / row 3;
	//grid-area: sun_img;
}
.horse_img {
	grid-column: col 1 / col 2;
	grid-row: row 3 / row 5;
	//grid-area: horse_img;
}
.green_img {
	grid-column: col 2 / col 3;
	grid-row: row 3 / row 4;
	//grid-area: green_img;
}
.city_img {
	grid-column: col 2 / col 3;
	grid-row: row 4 / row 5;
	//grid-area: city_img;
}
.lake_img {
	grid-column: col 5 / col 7;
	grid-row: row 3 / row 5;
	//grid-area: lake_img;
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
	visibility: hidden;
	transition: all .8s ease 0s;
}

.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup.open .popup__content {
	transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
	opacity: 1;
}
.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup__content {
	background-color: #fff;
	color: #000;
	max-width: 800px;
	margin: 30px;
	position: relative;
	opacity: 0;
	transition: all .8s ease 0s;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
}
.popup__image img {
	max-width: 100%;
}

/************************************************************************************************************************************************************************************
*****МЕДИА ЗАПРОСЫ ПЯТЫЙ БЛОК***************************
********************************************************/

/* Large desktops and laptops */
@media (min-width: 1367px) {
	
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.place_img,
	.horse_img,
	.green_img,
	.city_img {
		display: none;
	}

	.gallery__wrapper {
		padding-right: 60px;
	}

	.gallery__grid {
		grid-gap: 15px;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.sun_img {
		display: none;
	}

	.quadro_img {
		grid-column: col 5 / col 7;
		grid-row: row 1 / row 3;
	}

	.place_img {
		display: block;
		grid-column: span 7;
		grid-row: row 5;
		margin-left: 30px;
	}

	.gallery__grid {
		grid-gap: 10px;
	}
}

/* Iphone 5 */
@media (max-width: 320px) {

}


/************************************************************************************************************************************************************************************
************ШЕСТОЙ БЛОК***************************
********************************************************/

.form {
	height: 100vh;
	background: url('../img/form.png') 100% 100% / cover no-repeat;
	margin-top: 70px;
}
.form__grid {
	display: grid;
	grid-template-columns: 1fr 3.5fr 3.5fr 1fr;
	height: 100%;
	align-items: center;
}
.form__wrapper {
	height: 100%;
	grid-column: 3 / 4;
	background: url('../img/form_2.png') 100% 100% / cover no-repeat;
}
.form__box {
	max-width: 360px;
	margin: 0 auto;
	height: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: inherit;
	padding: 70px 0;
	padding: 30px 25px;
}

.form__text {
	padding: 10px 15px;
}

.form__text p {
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	line-height: 29px;
	padding-bottom: 15px;
}

.form__box-input {
	padding: 25px 0 0 0;
	border-bottom: 1px solid #fff;
	transition: all .4s ease;
}

input:active {
	
}

input {
	cursor: pointer;
	display: block;
	width: 100%;
	background-color: rgba(0,0,0,0.00001);
	color: #fff;
	font-size: 16px;
	transition: all .4s ease;
}
input::text {color: #fff;}

input::placeholder {color: #fff;}

/* WebKit, Edge
   ----------------------------  */
input::-webkit-input-placeholder {color: #fff;}

/* Edge
   ----------------------------  */
input::-ms-input-placeholder {color: #fff;}

/* Firefox 4-18
   ----------------------------  */
input:-moz-placeholder {color: #fff;opacity: 1;}

/* Firefox 19+
   ----------------------------  */
input::-moz-placeholder {color: #fff;opacity: 1;}

/* IE 10-11
   ----------------------------  */
input:-ms-input-placeholder {color: #fff;}

.form__text h4 {
	font-weight: 500;
}

/************************************************************************************************************************************************************************************
*****МЕДИА ЗАПРОСЫ ШЕСТОЙ БЛОК***************************
********************************************************/

/* Large desktops and laptops */
@media (min-width: 1367px) {
	
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.form__box {
		height: 85%;
		gap: 0;
		padding-top: 50px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.form__wrapper {
		grid-column: 2 / 4;
	}
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
	.form__wrapper {
		height: 85%;
	}

	.form {
		margin: 0;
	}

	.btn {
		padding: 16px 36px;
	}
}

/* Iphone 5 */
@media (max-width: 320px) {

}

/************************************************************************************************************************************************************************************
************CЕДЬМОЙ БЛОК***************************
********************************************************/

.footer {
	background-color: #EDEDED;
	padding: 30px 0;
	color: #282828;
}

footer li, 
footer a {
	color: #282828;
	font-size: 14px;
	gap: 8px;
	transition: all .2s ease;
	display: block;
}

.footer li:nth-child(2) {
	margin: 8px 0;
}
.footer__grid {
	display: grid;
	grid-template-columns: 1fr 1.5fr 1.1fr 1fr;
	align-items: center;
	//grid-template-rows: 1fr 1fr;
}
.grid__item-logo {
	grid-column: 1 / 2;
	//grid-row: 1 / 3;
}
.grid__item-logo img {
	
}
.grid__item-nav {
	grid-column: 2 / 3;
	//grid-row: 1 / 3;
}
.grid__item-nav a:hover {
	color: #000;
	transform: scale(1.02) translateX(5px);
}
.grid__item-contacts {
	grid-column: 3 / 4;
	//grid-row: 1 / 3;
}
.telegram-icon:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('../img/svg/whats-footer.png') left / contain no-repeat;
}
.telegram-icon {
	position: relative;
	padding-left: 20px;
}
.whats-icon:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('../img/svg/tg-footer.png') left / contain no-repeat;
}
.whats-icon {
	position: relative;
	padding-left: 20px;
}
.grid__item-social {
	grid-column: 4 / 5;
	//grid-row: 1 / 3;
}

.mail-icon:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('../img/svg/mail.png') left / contain no-repeat;
}
.mail-icon {
	position: relative;
	padding-left: 20px;
}
.social__footer-icon {
	display: flex;
	align-items: center;
	padding-top: 21px;
}

.footer__icon {
	transition: all .2s ease;
}

.footer__icon:hover {
	transform: scale(1.05);
}
.footer__icon:nth-child(2) {
	margin: 0 17px 0 11px;
}

/************************************************************************************************************************************************************************************
*****МЕДИА ЗАПРОСЫ СЕДЬМОЙ БЛОК***************************
********************************************************/

/* Large desktops and laptops */
@media (min-width: 1367px) {
	
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.footer__grid {
		grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.footer__grid {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr 1fr 2fr;
		justify-items: center;
	}

	.grid__item-logo {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}
	.grid__item-social {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}
	.grid__item-nav {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}
	.grid__item-contacts {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
	}

	.social__footer-icon {
		justify-content: center;
	}
	
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.footer__grid {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr 1fr 2fr;
		justify-items: center;
	}

	.grid__item-logo {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}
	.grid__item-social {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}
	.grid__item-nav {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}
	.grid__item-contacts {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
	}

	.social__footer-icon {
		justify-content: center;
	}
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
	.whats-icon:before {
		height: 14px;
	}
}

/* Iphone 5 */
@media (max-width: 320px) {

}

